/* CSS RESET {{{ */
*,
*::before,
*::after {
	box-sizing: inherit;
	line-height: calc(1em + 0.5rem);
	padding: 0;
	margin: 0;
}

html {
	font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
	tab-size: 4;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea,
select {
	font: inherit;
	font-feature-settings: inherit;
	font-variation-settings: inherit;
	letter-spacing: inherit;
	color: inherit;
	border-radius: 0;
	background-color: transparent;
	opacity: 1;
}

button {
	cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-inline-size: 100%;
	max-block-size: 100%;
}

ol,
ul,
menu {
	list-style: none;
	padding-inline: 0;
}

code,
kbd,
samp,
pre {
	font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
	font-size: 1em;
}

b,
strong {
	font-weight: bolder;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}

table {
	border-color: currentcolor;
	border-collapse: collapse;
}

progress {
	vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

[type='search'] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

summary {
	display: list-item;
}
/* #endregion }}}*/
@font-face {
	font-family: 'commandocommando';
	src: url('commando-webfont.eot');
	src:
		url('../assets/commando-webfont.eot?#iefix') format('embedded-opentype'),
		url('../assets/commando-webfont.woff2') format('woff2'),
		url('../assets/commando-webfont.woff') format('woff'),
		url('../assets/commando-webfont.ttf') format('truetype'),
		url('../assets/commando-webfont.svg#commandocommando') format('svg');
	font-weight: normal;
	font-style: normal;
}

.body {
	min-height: 100vh;
}

.welcome-screen {
	display: grid;
	place-items: center;
	font-family: commandocommando;
	min-height: 100vh;
	text-align: center;
}

.welcome-title {
	font-size: 5rem;
	margin-bottom: 1rem;
}

.welcome-btn-grp {
	margin-bottom: 2rem;
}

.welcome-player-mode {
	margin: 0 auto;
	font-size: 2rem;
	min-width: 5.5rem;
	padding-block: 1rem;
}

.main {
	padding: 2rem;
}

.board-screen {
	--hinge-size: 4rem;
	--size: 40rem;
	--mid: calc(var(--size) / 2);
	--tray-depth: 3rem;
	--tray-size: calc(var(--size) - var(--hinge-size));
	display: grid;
	place-items: center;
}

.cube-wall {
	/* background-color: rgba(100, 100, 0, 0.2); */
	visibility: hidden;
	position: absolute;
	height: 100%;
	width: 100%;

	&.front {
		transform: translateZ(var(--mid));
	}
	&.back {
		transform: translateZ(calc(-1 * var(--mid)));
	}
	&.top {
		transform: translateY(calc(-1 * var(--mid))) rotateX(90deg);
	}
	&.bottom {
		/* display: none; */
		transform: translateY(var(--mid)) rotateX(90deg);
	}
	&.left {
		transform: translateX(calc(-1 * var(--mid))) rotateY(90deg);
	}
	&.right {
		transform: translateX(var(--mid)) rotateY(90deg);
	}
}

/* FIX: DELETE this */
main {
	height: 100vh;
	display: grid;
	place-items: center;
}

.ships {
	display: grid;
	transform-style: preserve-3d;
	grid-template-rows: repeat(5, 1fr);
	place-items: start;
	height: 50%;
	width: 50%;
}

.board {
	display: grid;
	place-items: center;
}

game-board {
	display: grid;
	place-items: center;
	--color-primary: #4468ea;
	--color-secondary: #203a99;
	transform: rotateX(-80deg) translateZ(800px);
}

.board {
	width: var(--size);
	height: var(--size);
	/* for debugging  */
	/* transform: rotate3d(1, 1.2, 0.3, -30deg); */
	/* transform: rotate3d(0, 1, 0, -100deg); */
	/* transform: rotate3d(1, 1.2, 0.3, -90deg); */
	/* transform: rotate3d(-0.1, 1, 0.1, -100deg); */
	/* transform: rotate3d(-0.1, 1, 0.1, -70deg); */
	transform: translateY(5rem) rotate3d(1, 0, 0, -16deg);
	position: relative;
	transform-style: preserve-3d;
	margin: 0 auto;
	display: grid;
	place-items: center;
}

.hidden {
	display: none;
}
